<div class="main-container">
  <header>
    <h1>Simple Angular Application</h1>
    <nav class="navbar">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Log In</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
