<div class="heading">
    <h1>
        Assignment 1
    </h1>
</div>
  <div class="Details">
    <h2>
      PSLV
    </h2>
  <div class="innerDetails">
    <p>
    The Polar Satellite Launch Vehicle (PSLV) is an expendable medium-lift launch vehicle designed and operated by the Indian Space Research Organisation (ISRO). It was developed to allow India to launch its Indian Remote Sensing (IRS) satellites into Sun-synchronous orbits, a service that was, until the advent of the PSLV in 1993, only commercially available from Russia. PSLV can also launch small size satellites into Geostationary Transfer Orbit (GTO)</p>
  </div>
  </div>
  <!-- <div class="firstdetails">
    <span>PSLV-XL Configuration</span> 
    <span>Gross Weight	: 320t</span>
    <span>Overall height	: 44.4 m</span>
    <span>Diameter	: 2.8m</span>
    <span>Features	: 04 stage vehicle, multiple satellite launch capability and multiple orbit capability</span>
  </div> -->
