<div class="Details">
    <h2>
      GSLV
    </h2>
  <div class="innerDetails">
    <p>
        GSLV uses major components that are already proven in the Polar Satellite Launch Vehicle (PSLV) launch vehicles in the form of the S125/S139 solid rocket booster and the liquid-fueled Vikas engine. Due to the thrust required for injecting the satellite in a geostationary transfer orbit (GTO) the third stage was to be powered by a LOX/LH2 Cryogenic engine which at that time India did not possess or have the technological expertise to build. The aerodynamic characterization research was conducted at the National Aerospace Laboratories' 1.2m Trisonic Wind Tunnel Facility.</p>
  </div>
  </div>